<div class='max-w-7xl mx-auto px-4 py-6 sm:px-6 flex items-center'>

  {{! <nav class='flex w-full items-center justify-between'> }}
  <nav
    class='flex md:flex-row w-full items-center justify-between md:h-1/2'
  >
    <div>
      <a class='text-white ml-2 text-2xl font-bold' href='/'>
        <!-- <img class="h-12 w-auto sm:h-12" src="/public/assets/img/icons/rocket.svg"
                                        alt="site" /> -->
        ViewNFT
      </a>
    </div>

    <div>
      {{#if loggedIn}}
        <button id='logout' class='btn-no-style'>Logout</button>
      {{else}}
        <a
          href='/login'
          class='text-purple-600 hover:text-purple-700 underline'
        >
          Login</a>
      {{/if}}
    </div>

  </nav>

</div>