<!DOCTYPE html>
<html :class="{ 'theme-dark': dark }" x-data="data()" lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NFT Collections Home Page</title>
    <!-- <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap"
        rel="stylesheet" /> -->
    <link rel="stylesheet" href="../public/css/tailwind.output.css" />
    <script defer src="https://unpkg.com/alpinejs@3.10.2/dist/cdn.min.js"></script>
    <script src="../public/js/init-alpine.js"></script>
</head>

  <body
    class='bg-white text-black antialiased dark:bg-gray-900 dark:text-white'
  >

  <div class="mx-auto max-w-3xl px-4 sm:px-6 xl:max-w-5xl xl:px-0">
    
{{> header}}

    {{{body}}}

{{> footer}}

</div>

    {{#if logged_in}}
      <script src='/js/logout.js'></script>
    {{/if}}

  </body>
</html>