<html lang="en" class="dark">

  <head>
    <meta charset='UTF-8' />
    <meta
      name='viewport'
      content='width=device-width, initial-scale=1.0'
    />
    <title>Login</title>
    <link rel="stylesheet" href="/css/output.css" />
    <script
      defer
      src='https://unpkg.com/alpinejs@3.10.2/dist/cdn.min.js'
    ></script>
    <script src='/js/init-alpine.js'></script>
  </head>

  <body>

{{> register-modal}}

    {{{body}}}

  </body>

  <script src='js/login.js'></script>

</html>