<!DOCTYPE html>
<html :class="{ 'theme-dark': dark }" x-data="data()" lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NFT Collections Home Page</title>
    <!-- <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap"
        rel="stylesheet" /> -->
    <link rel="stylesheet" href="../public/css/tailwind.output.css" />
    <script defer src="https://unpkg.com/alpinejs@3.10.2/dist/cdn.min.js"></script>
    <script src="../public/js/init-alpine.js"></script>
</head>

<body>
    <div class="relative bg-white overflow-hidden h-screen dark:bg-gray-900">
        <div class="max-w-7xl mx-auto h-full dark:bg-gray-800">
            <div class="relative z-10 pb-8 sm:pb-16 md:pb-20 lg:w-full lg:pb-28 xl:pb-32 h-full">
                <div class="relative z-40">
                    <div class="max-w-7xl mx-auto px-4 sm:px-6">
                        <div class=" flex justify-between items-center py-6 md:space-x-10">
                            <div class="flex items-center">
                                <a class="flex items-center" href="/">
                                    <!-- <img class="h-12 w-auto sm:h-12" src="/public/assets/img/icons/rocket.svg"
                                        alt="site" /> -->
                                    <span class="text-white ml-2 text-2xl font-bold">
                                        Logo
                                    </span>
                                </a>


                            </div>
                            <!-- <div class="-mr-2 -my-2 md:hidden">
                                <button type="button"
                                    class="bg-white rounded-md p-2 inline-flex items-center justify-center text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500">
                                    <span class="sr-only">
                                        Open menu
                                    </span>
                                    <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none"
                                        viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                            d="M4 6h16M4 12h16M4 18h16">
                                        </path>
                                    </svg>
                                </button>
                            </div> -->
                        </div>
                    </div>
                </div>
                <main class="mt-10 mx-auto px-4 sm:mt-12 sm:px-6 md:mt-16 lg:mt-20 lg:px-8 xl:mt-28 h-full">
                    <div
                        class="flex flex-col md:flex-row w-full items-start justify-between md:justify-start h-full md:h-1/2">
                        <div
                            class="text-left z-20 md:z-30 w-full md:w-1/2 flex flex-col items-center md:items-start justify-start h-full">
                            <h1 class="tracking-tight font-extrabold text-gray-700 dark:text-white text-6xl ">
                                Landing Page Header Text Goes Here
                            </h1>
                            <h2
                                class="mt-3 text-gray-800 dark:text-gray-100 sm:mt-5 text-lg sm:max-w-xl sm:mx-auto md:mt-5 md:text-xl lg:mx-0">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sit amet porta urna.
                                Integer venenatis orci nec rutrum ultrices.
                            </h2>
                            <div class="sm:flex sm:justify-center lg:justify-start w-full">
                                <div>
                                    <button
                                        class="block w-full px-4 py-2 mt-4 text-m font-medium leading-5 text-center text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple"><a
                                            href="/create-account">
                                            Start Your Collection</a>
                                    </button>
                                </div>
                            </div>
                            <div
                                class="mt-3 sm:flex sm:justify-center w-full text-gray-600 dark:text-gray-300 lg:justify-start">
                                <p>Or <a href="/login" class="text-purple-600 hover:text-purple-700 underline">
                                        login</a> to your account</p>
                            </div>
                        </div>
                        <div
                            class="opacity-10 z-10 md:z-50 md:opacity-70 sm:text-center absolute lg:text-left transform  w-full -right-10 -top-72  md:w-1/2">
                            <div class="flex gap-4 gap-y-1">
                                <div class="col-1">
                                    <div class="mb-4">
                                        <div class="overflow-hidden">
                                            <img src="http://placehold.jp/90x64.png" />
                                        </div>
                                    </div>
                                    <div class="mb-4">
                                        <div class="overflow-hidden">
                                            <img src="http://placehold.jp/250x250.png" />
                                        </div>
                                    </div>
                                    <div class="mb-4">
                                        <div class="overflow-hidden"><img src="http://placehold.jp/250x250.png" />
                                        </div>
                                    </div>
                                    <div class="mb-4">
                                        <div class="overflow-hidden"><img src="http://placehold.jp/250x184.png" />
                                        </div>
                                    </div>
                                    <div class="mb-4">
                                        <div class="overflow-hidden"><img src="http://placehold.jp/250x350.png" />
                                        </div>
                                    </div>
                                    <div class="mb-4">
                                        <div class="overflow-hidden"><img src="http://placehold.jp/250x480.png" />
                                        </div>
                                    </div>
                                    <div class="mb-4">
                                        <div class="overflow-hidden w-64">

                                        </div>
                                    </div>
                                </div>
                                <div class="col-1">
                                    <div class="mb-4">
                                        <div class="overflow-hidden"><img src="http://placehold.jp/250x480.png" />
                                        </div>
                                    </div>
                                    <div class="mb-4">
                                        <div class="overflow-hidden"><img src="http://placehold.jp/250x480.png" />
                                        </div>
                                    </div>
                                    <div class="mb-4">
                                        <div class="overflow-hidden">
                                            <img src="http://placehold.jp/250x100.png" />
                                        </div>
                                    </div>
                                    <div class="mb-4">
                                        <div class="overflow-hidden"><img src="http://placehold.jp/250x250.png" />
                                        </div>
                                    </div>
                                    <div class="mb-4">
                                        <div class="overflow-hidden w-64">
                                            <img src="http://placehold.jp/250x184.png" />
                                        </div>
                                    </div>
                                    <div class="mb-4">
                                        <div class="overflow-hidden"><img src="http://placehold.jp/250x200.png" />
                                        </div>
                                    </div>


                                </div>
                                <div class="col-1">
                                    <div class="mb-4">
                                        <div class="overflow-hidden">
                                            <img src="http://placehold.jp/250x100.png" />
                                        </div>
                                    </div>
                                    <div class="mb-4">
                                        <div class="overflow-hidden"><img src="http://placehold.jp/250x250.png" />
                                        </div>
                                    </div>
                                    <div class="mb-4">
                                        <div class="overflow-hidden w-64">
                                            <img src="http://placehold.jp/250x184.png" />
                                        </div>
                                    </div>
                                    <div class="mb-4">
                                        <div class="overflow-hidden"><img src="http://placehold.jp/250x480.png" />
                                        </div>
                                    </div>
                                    <div class="mb-4">
                                        <div class="overflow-hidden"><img src="http://placehold.jp/250x200.png" />
                                        </div>
                                    </div>
                                    <div class="mb-4">
                                        <div class="overflow-hidden"><img src="http://placehold.jp/250x480.png" />
                                        </div>
                                    </div>


                                </div>

                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
    </div>
</body>